body{
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: rgb(247, 219, 223);
}
.main{
  flex: 1;
}
h1{
  font-size: 5rem;
}
footer{
  text-align: right;
  color: rgb(255, 145, 0);
}
.tile-image{
  height: 200px;
  float: left;
  margin-right: 50px;
}
.card {
  width:45%;
}
.left{
  float:left;
}
.right{
  float:right;
}
.creative{
  color: midnightblue;
}
@media (max-width:680px) {
  .logo{
    width:100px;
  }

h1{
  font-size:3.5rem;
  text-align: center;
}
.card{
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: justify;
}
.card img
{
  margin-bottom: 10px;
  width: 100%;
  display: inline;
  object-fit: cover;
}
}
